.div-channel-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .p-title {
        margin-left: 10%;
        margin-bottom: 15px;
        font-size: 17px;
    }
    
    .ul-channel-container {
        overflow-y: scroll;
        height: 50vh;
        margin-left: 10%;

        .li-channel-element {
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .p-title-element {
                font-size: 15px;
            }
        }
    }
}