@import '../themes/light';

.nav-bar-forum-container {
    margin-top: 9.5%;
    background: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 55px;

    .name-channel-forum-container {
        display: flex;
        align-items: center;
        width: 62vw;

        .name-channel {
            color: $white;
            font-size: 13px;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: 5px;

            .span-hash {
                font-size: 15px;
                font-weight: bold;
            }
        }
    }

    .icons-search-and-people-container {
        display: flex;
        align-items: baseline;
        gap: 20px;
    }
}