@import "../utilities/mixins";

.side-bar-menu-card-view {
    text-align: center;

    .profile {
        border-radius: 50%;
        padding: 5px;
        box-sizing: border-box;
        max-width: 128px;
    }

    .profile-info {
        overflow: hidden;
        height: 90px;
        @include transition(height);

        &.collapsed {
            opacity: 0;
            height: 0;
        }

        .name {
            font-size: 20px;
            font-weight: bold;
        }

        .path {
            margin-top: 10px;
            a {
                @include buttonOutline();

                &:hover {
                    color: white;
                    background: #051a26;
                }
            }
        }
    }
}