@import '../utilities/mixins';
@import '../themes/light';

.side-bar-menu {
    background: $color-primary;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    @include transition(width);

    &.expanded {
        width: 300px;
    }

    &.collapsed {
        width: 45px;
    }

    .navigate-container {

        .menu-button {
            display: flex;
            justify-content: flex-end;
    
            .hamburger-button {
                color: $white;
                padding: 10px;
                width: 60px;
            }
        }
    }


    .logout-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
