.forum-page-container {

    .section-comments-container {

        .title-forum-page {
            margin-bottom: 10px;
        }

        .description-forum-page {
            font-size: 15px;
            color: grey;
            text-align: center;
        }    
    }
}

