@import "../utilities/mixins";

.div-add-channel-container {
    display: flex;
    justify-content: center;

    .button-add-channel {
        display: flex;
        justify-content: center;
        align-items: center;
        @include button(180px, 32px);
    }
}