@import "../themes/light";
@import "../utilities/mixins";

.support-groups-general-container {
    margin-bottom: 30px;

    .sub-title-support-groups {
        text-align: center;
        color: #051a26;
        width: 270px;
        margin-bottom: 20px;
        margin-inline: auto;
    }

    .div-add-support-groups-container {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        .button-add-support-groups {
            display: flex;
            justify-content: center;
            align-items: center;
            @include button(280px, 32px);
        }
    }
    
    .form-support-groups-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    
        .label-support-groups-search {
            font-size: 0px;
        }
    
        .input-support-groups-container {
            width: min(90%, 280px);
            margin-bottom: -10px;
    
            .input-support-groups-search {
                padding-inline: 10px 50px;
                height: 33px;
                border-radius: 25px;
                border: 1px solid $color-primary;
                width: 100%;
            }
    
            .icon-support-groups-GoSearch {
                position: relative;
                left: 89%;
                bottom: 25px;
            }
        }
    }
    
    .card-support-groups-container {
        @include card(90%);
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        margin-bottom: 30px;
    
        .info-support-groups-container {
            height: 100%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    
            .title-support-groups {
                font-size: 16px;
                font-weight: 500;
                padding-bottom: 5px;
                text-align: center;
            }
            
            .description-support-groups {
                text-align: center;
                color: $grey;
                font-size: 14px;
            }
        }

        .image-support-groups-container {
            margin-block: 20px;

            .image-support-groups {
                border-radius: 5px;
            }
        }

        .button-more-information {
            @include button(170px, 30px);
            margin-bottom: 20px;
        }
    }
}
