/* Mixins: Pequeñas estructuras de estilos que generan un componente reutilizable en toda la app. */

@mixin transition($property) {
    transition: $property 0.2s ease-in-out;
}

@mixin buttonOutline() {
    background: white;
    color: #051a26;
    border-radius: 5px;
    padding: 5px 10px;
}

@mixin button($width, $heigth) {
    width: $width;
    height: $heigth;
    background: #4e42d4;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

@mixin imageProfile($max-width, $max-height) {
    max-width: $max-width;
    max-height: $max-height;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}