/* Resets: Reseteo de los estilos por defecto en cada componente. */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

button {
    cursor: pointer;
   border: none;
   background: none;
   font-family: var(--font-nunito);
}

textarea, input {
    font-family: var(--font-nunito);
    
    &:focus {
        outline: none;
    }
    
    &::placeholder {
        font-family: var(--font-nunito);
    }
}