section {
    padding-left: 12.5%;

    h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        width: 200px;
        margin-inline: auto;
    }
}